<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>611582434850-jgc15q38s9fpdtn2rvkpkf4fqtp9250g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.611582434850-jgc15q38s9fpdtn2rvkpkf4fqtp9250g</string>
	<key>API_KEY</key>
	<string>AIzaSyDFTvwjnWfbewUGXc3Md9AVxP6ca44CtTY</string>
	<key>GCM_SENDER_ID</key>
	<string>611582434850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sharemil.sharemil</string>
	<key>PROJECT_ID</key>
	<string>sharemil-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>sharemil-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:611582434850:ios:c60278446f1517296a747b</string>
	<key>DATABASE_URL</key>
	<string>https://sharemil-dev.firebaseio.com</string>
</dict>
</plist>